**/.git
**/.vs
**/.idea
**/.vscode
**/bin
**/obj
**/TestResults
**/node_modules
**/.next
**/out
**/.env
**/.env.*
!**/.env.example
!**/.env.production.example
**/logs
**/*.user
**/*.suo
apps/web/.next
